
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-left: auto;
  }
  
  
  .store-title {
    text-align: center;
    margin: 20px 0;
  }
  
  .store-title h2 {
    font-size: 32px;
    font-weight: bold;
  }
  

  


